<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.its.tradeboard.DTO.UserDTO" alias="userDTO"></typeAlias>
        <typeAlias type="com.its.tradeboard.DTO.AdminDTO" alias="adminDTO"></typeAlias>
        <typeAlias type="com.its.tradeboard.DTO.ItemDTO" alias="itemDTO"></typeAlias>
        <typeAlias type="com.its.tradeboard.DTO.BoardDTO" alias="boardDTO"></typeAlias>
    </typeAliases>
</configuration>