<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="User">
    <insert id="insert" parameterType="userDTO">
        insert into trade_user_table (userId, userPassword, userMobile)
        values (#{userId}, #{userPassword}, #{userMobile})
    </insert>

    <select id="login" resultType="userDTO">
        select *
        from trade_user_table
        where userId = #{userId}
          and userPassword = #{userPassword}
    </select>

    <select id="myPage" resultType="userDTO">
        select *
        from trade_user_table
        where userId = #{userId}
    </select>

    <update id="update" parameterType="userDTO">
        update trade_user_table
        set userPassword = #{userPassword},
            userMobile   = #{userMobile}
        where id = #{id}
    </update>

    <select id="duplicate" parameterType="String" resultType="String">
        select userId
        from trade_user_table
        where userId = #{userId}
    </select>
</mapper>














